/* Create four equal columns that floats next to eachother */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(237, 239, 241);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: rgb(0, 121, 211);
  position: absolute;
  right: 35px;
  top: 55px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -50px;
  color: rgb(0, 121, 211);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a gray background to button */
.prev:hover,
.next:hover {
  background-color: rgb(237, 239, 241);
  border-top: solid 3px rgb(0, 121, 211);
  border-bottom: solid 3px rgb(0, 121, 211);
}

/* Number text (1/10 etc) */
.numbertext {
  color: rgb(0, 121, 211);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
